body{
  background-color: darkgrey;
}
#btn{
  height: 20px;
  border: 1px solid black;
  color: black;
  background-color: white;
}
#input{
  border: 1px solid black;
}
#userDiv{
display: flex;
justify-content: center;
align-items: center;
background-color:dark whitesmoke;
color: black;
}
#section{
  width: 100px;
  height: 580px;
  border:2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descrip{

}
@media only screen and (max-width: 425px){
  .holder{
      display: flex;
      flex-direction: column;
  }
}